.btn {
  background-color: #252422;
  border: none;
  color: #ccc5b9;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.btn:hover {
  background-color: #eb5e28;
  color: #252422;
}

